<html>
    <head>

    </head>

    <body>
        <nav class="navbar">
            <ul>
                <!--these let you click on other pages--> 
                <li><a href="singlesearch.html">Single search</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="defaultpage.html">Home</a></li>
            </ul>
        </nav>

        <!--do we really want the form to stay at the top or do we just want hte tablae and figuer maybe both lkets do both x-->



    </body>
</html>