<html>
    <head>
        <title>
            Zmlldb
        </title>
        <style>
            h1 {
                text-align: center;
                padding-top: 155px;
                font-family: Garamond, serif;
            }
            #p1 {
                text-align: center;
                padding-top: 5px;
                font-family: Garamond, serif;
            }
        </style>
    </head>

    <body>

        <nav class="navbar">
            <ul>
                <!--these let you click on other pages--> 
                <li><a href="about.html">About</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="singlesearch.html">Single search</a></li>
                <li><a href="comparison.html">Comparison</a></li>
            </ul>
        </nav> 

        <h1 id="h1" class="h1">THE Database</h1>
        <p id="p1" class="p1"> Maybe we can add a little bit of information here or something</p>
        
    </body>
</html>